

.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    background: rgb(39, 39, 39);
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background: rgb(20, 20, 20);
  }
  
  .header {
    position: fixed;
    top: -200;
    left: 0;
    right: 0;
    bottom: -200;
    background: rgb(148, 55, 255);
  }
  
  a{
    text-decoration: none;
    font-size: 20px;
  }
  h3{
    font-size: 20px;
    text-align: center;
  }
