
<mat-toolbar class="header">
  <a [routerLink]="['/home']" style="color: black;">MANGÁRECA</a>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <div class="css2"><img  src="https://uploaddeimagens.com.br/images/003/560/737/full/mangareca.png?1638252030"></div>
  <mat-sidenav  #sidenav mode="side" opened class="example-sidenav">
    <h2 bold style="color: rgba(255, 0, 0, 0.884);"> Categorias</h2>

    <a [routerLink]="['/acao']" style="color: rgb(255, 255, 255);">Ação</a>
    <br><br>
    <a [routerLink]="['/aventura']" style="color: rgb(255, 255, 255);">Aventura</a>
    <br><br>
    <a [routerLink]="['/animacao']" style="color: rgb(255, 255, 255);">Animação</a>
    <br><br>
    <a [routerLink]="['/comediaromantica']" style="color: rgb(255, 255, 255);">Comédia Romantica</a> 
     <br><br>
    <a [routerLink]="['/drama']" style="color: rgb(255, 255, 255);">Drama</a>
    <br><br>
    <a [routerLink]="['/ficcien']" style="color: rgb(255, 255, 255);">Ficção Ciêntifica</a>
    <br><br>
    <a [routerLink]="['/horror']" style="color: rgb(255, 255, 255);">Terror/Horror</a>
    <br><br>
    <a [routerLink]="['/romance']" style="color: rgb(255, 255, 255);">Romance</a>
    <br><br>
    <a [routerLink]="['/superhero']" style="color: rgb(255, 255, 255);">Super Heróis</a>
    <br><br>
    <a [routerLink]="['/suspense']" style="color: rgb(255, 255, 255);">Suspense</a>
   
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>