<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Animação</li>
</ul>
<div class="css">
    <img src="https://i.pinimg.com/originals/11/40/00/11400057b6a4c1d3c9d6920b9f9d9f89.jpg">
    <img src="https://ph-live-05.slatic.net/p/504bd75e90c8974f81c53378c7e41734.jpg_2200x2200q80.jpg_.webp">
    <img src="https://image.tmdb.org/t/p/original/q4NQMhtjtYc2z2mzIb77SBd83sP.jpg">
    <img src="https://static.vrv.co/imgsrv/display/thumbnail/1200x1800/catalog/crunchyroll/e108ae17d8d0407417cac40eb52d849a.jpg">
    <img src="https://1.bp.blogspot.com/-cuvLG_5TZxA/YFOfHnMrGjI/AAAAAAAAA8E/PuY8xebl1c4GCsdPs4_TOIoIU64s7W0rQCLcBGAsYHQ/s1279/E5D889A1-28C0-4917-A845-F6EA71E1E52A.jpeg">
    <img src="https://images.moviefit.me/t/o/106418-akame-ga-kill.jpg">
    <img src="https://qph.fs.quoracdn.net/main-qimg-ad403eecdd074b7175f92ba94addf6ec">
    <img src="https://pbs.twimg.com/media/D_RjQV5U4AQu5ny?format=jpg&name=4096x4096">
    <img src="https://i.pinimg.com/originals/7a/a1/b8/7aa1b8900365acab8d6bb01fb443ffca.png">
    <img src="https://pbs.twimg.com/media/EyJvdoeWEAImMLw?format=jpg&name=large">
    <img src="https://stat.7gogo.jp/appimg_images/20210925/23/08/pI/j/o14581920p.jpg">
    <img src="https://derf9v1xhwwx1.cloudfront.net/image/upload/oth/FunimationStoreFront/1899700/Latvian/1899700_Latvian_ApplePosterCover_1753b81a-3662-ea11-82a8-dd291e252010.jpg">
    
    </div>



